<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Электрон</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/article.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<header class="container header">
    <div class="container top">
        <img class="item top-logo" src="img/Electron128.png" alt="">
        <div class="container top-name">
            <a class="item top-name-text">Электрон</a>
        </div>
        <div class="container top-user">
            <a class="item top-user-text">Добро пожаловать,<br>Гость</a>
        </div>
    </div>
    <div class="container navbar">
        <div class="container block navbar-block">
            <a class="item link navbar-link" href="index.html">Главная страница</a>
        </div>
        <div class="container block navbar-block">
            <a class="item link navbar-link" href="archive.html">Архив</a>
        </div>
        <div class="container block navbar-block">
            <a class="item link navbar-link" href="tools.html">Инструменты</a>
        </div>
        <div class="container block navbar-block">
            <a class="item link navbar-link" href="forum.html">Форум</a>

        </div>
        <div class="container block navbar-block"></div>
        <div class="container block navbar-block">
            <a class="item link navbar-link" href="login.html">Войти</a>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="container generic">
        <div class="container article">
            <span class="item date">1.01.2020</span>
            <h1 class="item title generic-title">
                Consectetur adipiscing elit
            </h1>
            <h5 class="item subtitle generic-subtitle">
                Nunc ac nisi dignissim, malesuada ipsum a, rutrum magna. Aliquam ut turpis ac mi pulvinar malesuada
                placerat
                hendrerit justo.
            </h5>
            <p class="item text generic-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
            </p>
            <hr>
        </div>
    </div>
</div>

<footer class="container footer">
    <div class="container footer-copyright">
        <a class="item text copyright-text">Электрон© 2019-2020</a>
    </div>
</footer>


</body>
</html>
