{% extends "First/Base_blok.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}
{% block content %}
<div class="container main-container">
    <div class="container generic">
        <ol class="container thread-list">
            <li class="container thread">
                <img class="thread-icon" src="/media/images/img/plus.jpg" alt="">
                <div class="container thread-description">
                    <a class="item thread-title" href="{% url 'New_Art_url' arg %}">Создать тему</a>
                </div>
            </li>
            {% for i in ar %}
            <li class="container thread">
                <img class="thread-icon" src="/media/images/favicon.ico" alt="">
                <div class="container thread-description">
                    <h3 class="item thread-title"><a style="text-decoration: none; color:black" href="{% url 'art_url' id=i.id%}">{{i.name_art}}</a></h3>
                    <span class="item thread-creation">создано
                        <span class="thread-author">{{i.author_art}}</span>, {{i.pub_date_art}}
                    </span>
                </div>
                {% if ROOT == "True" or Nick == i.author_art %}
                <div class="container thread-stats">
                    <a class="item thread-replies" href="{% url 'del_art_url' i.id %}" style="text-decoration:none">удалить</a>
                </div>
                {% endif %}
            </li>

            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}