{% extends "First/Base_blok.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}
{% block content %}
<div class="container main-container">
    <div class="container side-bar">
        <h1 class="item title side-bar-title">
            Новости
        </h1>
        {% for i in news %}
        <a class="item link side-bar-link">
            <span class="date">{{i.pub_date_com}} </span><a style="text-decoration: none; color: black" href="{% url 'new_detail_url' i.id %}">{{i.Title}}</a>
        </a>
        {% endfor %}
    </div>
    <div class="container generic">
        {% for i in News %}
        <div class="container article">
            <span class="item date">{{i.pub_date_com}}</span>
            <h1 class="item title generic-title">
                {{i.Title}}
            </h1>
            <h5 class="item subtitle generic-subtitle">
                {{i.Subtitle}}
            </h5>
            <p class="item text generic-text">
                {{i.text|slice:":255"}}...
            </p>
            <a href="{% url 'new_detail_url' i.id %}"><button class="item">Читать далее</button></a>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
