{% extends "First/Base_blok.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}
{% block content %}
<div class="container main-container">
    <div class="container side-bar">
        <h1 class="item title side-bar-title">
            Новости
        </h1>
        {% for i in news %}
        <a class="item link side-bar-link">
            <span class="date">{{i.pub_date_com}} </span><a style="text-decoration: none; color: black" href="{% url 'new_detail_url' i.id %}">{{i.Title}}</a>
        </a>
        {% endfor %}
    </div>
    <div class="container generic">
        <div class="container article">
            <h1 class="item title generic-title">
                Дроссель
            </h1>
            <p class="item text generic-text">
В электротехнике — катушка индуктивности, обладающая высоким сопротивлением переменному току и малым сопротивлением постоянному.
На схемах дроссель изображается подобным способом (мб образом).<br><br>
                <img src="/media/images/Lessons/Drosel_1.png" alt="">
                <br><br>
                Дросселя используются в разных частях прибора, будь то сетевые фильтры или цепи питания, колебательный контур в приемной аппаратуре.
Дроссель является проводником, намотанным в катушку. Главное свойство дросселя – это накопление магнитного поля. Изначально дроссель должен накопить магнитное поле и только потом он может пропускать ток. Поэтому дроссель не пропускает скачки сетевого напряжения. В момент скачка дроссель увеличивает магнитное поле, не пропуская его. Дроссель характеризуется такой величиной как индуктивность, чем больше индуктивность, тем больше времени требуются дросселю, чтобы накопить магнитное поле. Индуктивность считается по формуле L = Ф/ I, где Ф — магнитный поток, Вб; I — сила тока, текущая через элемент, А.
Индуктивность дросселя зависит от: количества обмоток дросселя и магнитных свойств материала проводника, наличие и форма сердечника(П-образный, Ш-образный, тороидальный ). Бывают Дросселя без сердечника (или воздушным сердечника) и с регулируемым сердечником.
<h1 class="item title generic-title">
ВНИМАНИЕ!!!
        </h1>
При работе с катушками, будь то дроссель, электромотор или катушка от реле (?) надо помнить, что при отключении питания происходит Самоиндукция Самоиндукция — это явление возникновения ЭДС в проводящем контуре, при изменении протекающего через контур тока, при изменении полярности.
            <br><br>
            <img src="/media/images/Lessons/Drosel_2.png" alt="" width="800"><br><br>
            <h1 class="item title generic-title">
               Понижающие, повышающие DC-DC
               </h1>
Преобразователи.
Теперь мы рассмотрим работу понижающих и повышающих DC-DC (DC- обозначение постоянного тока) преобразователей. В упрощении их электрическая схема выглядит так:            <br><br>
            <img src="/media/images/Lessons/Drosel_2.png" alt="" width="800"><br><br>
                • Рассмотрим для начала работу повышающего DC-DC преобразователя.
В первый период времени ,когда цепь 1 замкнута, дроссель накапливает магнитное поле. Во второй период дроссель зарядил магнитное поле до максимума, после цепь 1 размыкается транзистором, работающим в режиме ключа , управляемый ШИМ контроллером. В дросселе возникает ЭДС самоиндукции с нарастанием напряжения на концах дросселя, и ток идет через диод и сглаживающий конденсатор на нагрузку. Притом общее напряжение равно сумме напряжения источника питания и напряжения на концах дросселя.
            <br><br>• Теперь рассмотрим работу понижающего DC-DC преобразователя.
В первый период времени ,когда цепь 1 замкнута, дроссель накапливает магнитное поле, но его ключ открыт то время ,за которое дроссель успевает насытить свое магнитное поле частично. Во второй момент времени ключ закрыт и ток идет через цепь с диодом.
            <hr>
            <div class="container row-flex" style="width: 100%">
                <a href="#" class="item generic-link" style="margin-left: 70%">Следующий урок</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}