{% extends "First/Base_blok.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}
{% block content %}
<div class="container main-container">
    <div class="container side-bar">
        <h1 class="item title side-bar-title">
            Новости
        </h1>
        {% for i in news %}
        <a class="item link side-bar-link">
            <span class="date">{{i.pub_date_com}} </span>{{i.Title}}
        </a>
        {% endfor %}
    </div>
    <div class="container generic">
        <div class="container article">
            <span class="item date">1.01.2020</span>
            <h1 class="item title generic-title">
                Закон ома
            </h1>
            <p class="item text generic-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet est vitae accumsan dictum.
                Proin
                placerat porttitor mattis. Phasellus imperdiet lobortis purus nec ornare. Nam consequat, ex nec
                tristique
                posuere, erat nunc vestibulum nisl, sed vulputate lacus lectus in mi. Phasellus mattis, augue non rutrum
                lacinia, leo diam cursus nisi, eget auctor dui sem vitae magna. Suspendisse non efficitur justo. Sed
                mollis
                gravida nisl et convallis. Donec dapibus sodales sapien vitae viverra. Mauris non quam et magna
                scelerisque
                auctor et id nunc. Fusce eget velit nibh. Vivamus sollicitudin sollicitudin metus in imperdiet. Etiam
                non
                nisi ut enim mollis mattis. Duis ornare porta magna ac accumsan. Quisque vel sapien eu dui eleifend
                auctor.
                Proin vel auctor justo. Ut scelerisque vestibulum erat, sed commodo ante vestibulum ut.<br><br>
                Curabitur lectus nunc, vehicula id condimentum ut, finibus nec nisi. Nam viverra ligula vel risus
                venenatis
                pretium. Pellentesque in orci et lacus aliquet rhoncus nec vitae elit. Curabitur vitae maximus dui, sit
                amet
                lobortis nunc. Maecenas at convallis orci, ac aliquet mauris. Aenean posuere massa id est luctus, et
                consectetur ante aliquet. Etiam ac elit vel enim pretium malesuada ut quis libero. Vestibulum rutrum
                dapibus
                velit, non luctus justo condimentum vel. Nullam dapibus nec eros in egestas. Aliquam facilisis mi quis
                massa
                tempor bibendum.<br><br>
            </p>
            <hr>
            <div class="container row-flex" style="width: 100%">
                <a class="item generic-link">Предыдущий урок</a>
                <a class="item generic-link" style="margin-left: 70%">Следующий урок</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}